.div{
    width: 138px ;
}
.img{
    width: 31px ;
}
.a{
    justify-content: space-between;
    background-color: black;
    text-decoration: none;
    display: flex;
    align-items: center ;
    padding: 17px 10px 17px 10px ;
    border-radius: 15px ;
}
.span{
    color: aliceblue;
    font-family: 'Lato', sans-serif;
}